.booking {
    &__text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__text {
        margin: 35px 0 50px 0;
        line-height: 4rem;
        text-align: center;
        span {
            font-size: 1.5rem;
            color: rgb(240, 216, 84);
        }
    }
    &__img {
        width: 100%;
    }
}