
.main-header {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.6), rgba(46, 20, 10, 0.397),), url(/assets/Front-min.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.main-header::before {
    display: block;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-image: url(/assets/Front-transparent-min.png);
    background-size: cover;
    box-shadow: inset 5px -100px 100px 0 #141618;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    padding: 30px 0;
    &__text {
        color: #161010;
        padding: 30px 10px;
        p {
            font-size: 1.5rem;
            font-style: italic;
        }
    }
    &__sign {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      &__sign-word {
        text-align: center;
        line-height: 1;
        animation: neon .08s ease-in-out infinite alternate;
    }
    &__text-light {
        color: rgb(233, 230, 220);
    }
    &__title {
        font-size: 4rem;
        font-weight: bold;
        font-family: 'Vibur', cursive;
    }
    &__main-mobile-icon {
        color: black;
    }
    &__main-mobile-icon-container {
        background: rgba(255, 255, 255, 0);
        border: none;
        display:none;
    }
    &__main-mobile-icon--active {
        color: rgb(0, 0, 0);
        animation: neon .1s ease-in-out infinite alternate;
    }
    &__mobile-icon-container {
        background: rgba(255, 255, 255, 0);
        border: none;
        display:none;
    }
    &__mobile-icon {
        position: relative;
        z-index: 3;
        font-size: 30px;
    }
    &__mobile-icon--active {
        font-size: 30px;
        color: rgb(245, 238, 197);
        animation: neon .1s ease-in-out infinite alternate;
    }
    &__nav {
        position: relative;
        z-index: 3;
    }
    &__list {
        display: flex;
        padding: 30px 0px;
        list-style-type: none;
        justify-content: flex-end;
        text-transform: uppercase;
    }
    &__list-item {
        margin-left: 50px;
        font-size: 1.3rem;
        font-style: bold;
    }
    &__social-list {
        top: 25%;
        z-index: 3;
        margin-right: 35px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__social-item {
        margin-bottom: 25px;
    }
    &__icon {
        color: black;
        transition: .5s;
    }
    &__icon:hover,
    &__icon:focus {
        animation: neon .1s ease-in-out infinite alternate;
    
        transform: scale(1.3);
    }
    &__mobile-social-list {
        display: none;
        z-index: 3;
        justify-content: center;
        margin-top: 10px;
    }
    &__mobile-social-item {
        margin: 0 20px;
    }
    &__alt-social-list {
        display: flex;
        justify-content: flex-end;
    }
    &__alt-icon {
        color: whitesmoke;
        margin: 0 0 0 50px;
        transition: .5s;
    }
    &__alt-icon:hover,
    &__alt-icon:focus {
        animation: neon .1s ease-in-out infinite alternate;
        color:rgb(202, 185, 86);
        transform: scale(1.2);
    }
    &__light {
        color:whitesmoke;
    }
    &__main-list-link:hover,
    &__main-list-link:focus {
        color: black;
        animation: neon .1s ease-in-out infinite alternate;
    }

    &__main-list-link:after {
        background: rgb(0, 0, 0) none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: -1px;
        -webkit-margin-before: -2px;
        position: absolute;
        bottom: -25%;
        left: -5%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        width: 0;
        animation: neon .1s ease-in-out infinite alternate;
    }

    &__main-list-link:hover:after,
    &__main -list-link:focus:after {
        width: 110%;
    }

    &__list-link-active {
        color: rgb(240, 216, 84);
        animation: neon .1s ease-in-out infinite alternate;
    }

    &__list-link-active:hover,
    &__list-link-active:focus {
        color: rgb(240, 216, 84);
    }

    &__list-link:hover,
    &__list-link:focus {
        animation: neon .1s ease-in-out infinite alternate;
        color: white;
    }
    &__list-link:after {
        background: rgb(248, 228, 112) none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: -1px;
        -webkit-margin-before: -2px;
        position: absolute;
        bottom: -25%;
        left: -5%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        width: 0;
        animation: neon .1s ease-in-out infinite alternate;
    }
    &__list-link:hover:after,
    &__list-link:focus:after {
        width: 110%;
    }
    &__line {
        background: #f8e470 none repeat scroll 0 0;
        height: 2px;
        margin: 50px auto;
        width: 88%;
        max-width: 2000px;
    }
}

.fa-chevron-down {
    font-size: 5rem;
    color: rgb(199, 162, 108);
}

.arrow-link {
    display: none;
    position: absolute;
    top: 90vh;
    left: 48%;
    z-index: 2;
    animation: bounce .5s ease-in-out infinite alternate, neon .5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(112, 112, 112, 0.92),
      0 0 30px rgba(0, 0, 0, 0.34),
      0 0 12px rgba(211, 74, 11, 0.329),
      0 0 21px rgba(46, 44, 42, 0.92),
      0 0 34px rgba(173, 171, 171, 0.78),
      0 0 54px rgba(15, 15, 15, 0.582);
    }
    to {
      text-shadow:
      0 0 6px rgba(139, 139, 139, 0.98),
      0 0 30px rgba(230, 152, 9, 0.007),
      0 0 12px rgba(187, 89, 23, 0.329),
      0 0 22px rgba(110, 85, 16, 0.84),
      0 0 38px rgb(3, 3, 3),
      0 0 60px rgba(197, 196, 196, 0.726);
    }
  }
  
  @keyframes bounce {
    from {
      top:
      90vh
    }
    to {
    top: 89vh
    }
  }