.music {
    &__title {
        font-size: 2.1rem;
        margin-bottom: 10px;
        text-align: center;
    }
    &__icon-list {
        display: flex;
        flex-direction: column;
        margin: 35px 0 35px 0;
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__link {
        display: flex;
        align-items: center;
        color: whitesmoke;
        margin: 15px 0 15px 0;
        font-size: 1.2rem;
    }
    &__link:hover,
    &__link:focus {
        animation: neon .1s ease-in-out infinite alternate;
        color:rgb(202, 185, 86);
    }
    &__icon {
        margin-right: 10px;
    }
    
    &__bandcamp-icon {
        color: #629aa9;
    }

    &__spotify-icon {
        color: #1ED760;
    }

    &__apple-icon {
        color: 	#A2AAAD;
    }

    &__text {
        margin: 10px 0 60px 0;
        text-align: center;
    }
    &__text-date {
        font-size: 1.6rem;
        margin-bottom: 35px;
    }
}